<h2>New Donation</h2>

<form [formGroup]="donationForm" (ngSubmit)="onSubmit()">

	<p>
		<mat-form-field>
			<input matInput formControlName="name" placeholder="Name" required>
		</mat-form-field>
	</p>
	<p>
		<mat-form-field>
			<input matInput formControlName="surname" placeholder="Surname" required>
		</mat-form-field>
	</p>
	<p>
		<mat-form-field>
			<input matInput formControlName="amount" placeholder="Amount" required>
		</mat-form-field>
	</p>
	<p>
		<mat-form-field placeholder="Currency" required>
			<mat-label>Currency</mat-label>
			<mat-select formControlName="currency">
				<mat-option value="1">EUR</mat-option>
				<mat-option value="2">USD</mat-option>
			</mat-select>
		</mat-form-field>
	</p>

	<nav>
		<button mat-raised-button color="primary" routerLink="" routerLinkActive="active"> Back/Cancel</button>&nbsp;
		<button mat-raised-button color="primary"> Sumbit Donation</button>
	</nav>
</form>