<p>New Donation</p><br>
<form [formGroup]="donationForm" (ngSubmit)="onSubmit()">

	<mat-grid-list cols="2" rowHeight="2:1">
		<mat-grid-tile-header>asdad</mat-grid-tile-header>
		<mat-grid-tile>
			<div>
				<label for="name">
					Name
				</label>
			</div>
		</mat-grid-tile>
		<mat-grid-tile> <input id="name" type="text" formControlName="name">
		</mat-grid-tile>
		<mat-grid-tile>3</mat-grid-tile>
		<mat-grid-tile>4</mat-grid-tile>
		<mat-grid-tile>1</mat-grid-tile>
		<mat-grid-tile>2</mat-grid-tile>
		<mat-grid-tile>3</mat-grid-tile>
		<mat-grid-tile>4</mat-grid-tile>
	</mat-grid-list>


	<!-- <div>
		<label for="name">
			Name
		</label>
		<input id="name" type="text" formControlName="name">
	</div> -->

	<div>
		<label for="surname">
			Surname
		</label>
		<input id="surname" type="text" formControlName="surname">
	</div>

	<div>
		<label for="amount">
			Amount
		</label>
		<input id="amount" type="text" formControlName="amount">
	</div>

	<div>
		<label for="currency">
			Currency
		</label>
		<input id="currency" type="text" formControlName="currency">
	</div>
	<br />
	<nav>
		<button mat-raised-button color="primary" routerLink="" routerLinkActive="active"> Back/Cancel</button>&nbsp;
		<button mat-raised-button color="primary"> Sumbit Donation</button>
	</nav>
</form>